* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url(assets/mozaik_f.png);
	color: #444349;
}

.cover {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(assets/cover_image.jpg);
	background-repeat: no-repeat;
  background-attachment:inherit;
	background-position: 70% 10%;
	background-size: cover;
}



.title {
	position: absolute;
	top: 42%;
	width: 100%;
	padding: 25px;
	margin: auto;
	height: auto;
	color: aliceblue;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.title h1 {
	font-family: Great Vibes;
	font-size: 3.8rem;
	padding: 1rem;
	color: #d2ba87
}

.title h2 {
	font-family: Libre Baskerville;
	text-transform: uppercase;
	font-size: 1.2rem;
}

.locations h1 {
		font-family: Great Vibes;
		text-align: center;
		color: #444349;
		font-size: 3rem;
		margin-bottom: 4rem;
		margin-top: 2rem;
	  letter-spacing: 0.2rem;
	  font-weight: 600;
}

.locations {
	text-align: center;
  padding: 1rem;
}

.locations img {
	width: 7rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.boxes h2 {
	font-family: Libre Baskerville;
}

.boxes {
	font-family: mulish;
	margin-bottom: 2rem;
	font-size: 1.2rem;
}

.vonal {
	background-color: black;
	width: 25%;
	height: 3px;
	margin: auto;
	margin-top: 2rem;
}

.vonal2 {
	background-color: #d2ba87;
	width: 35%;
	height: 3px;
	margin: auto;
	margin-top: 2rem;
}

.hatter_s {
	background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 1.8rem;
  color: #d2ba87;
  padding: 1rem;
}

.hatter_s h1{
  text-align: center;
	font-size: 3rem;
	font-family: Great Vibes;
	padding: 2rem;
}

.hatter_s h2{
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.programs {
	max-width: 600px;
	color: #d2ba87;
	padding: 1rem;
  margin: auto;
}

.programs h1{
	text-align: center;
	font-size: 3rem;
	font-family: Great Vibes;
	padding: 2rem;
}

.programs h2 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.programs p {
	font-family: mulish;
	padding: 0.3rem;
	font-size: 1.2rem;
}

.spec {
	text-align: center;
	margin-bottom: 2rem;
	font-style: italic;
}

.GandC {
  font-size: 1.1rem;
}

#spec {
  font-family: Libre Baskerville;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
}

@media screen and (min-width: 992px) {
.title {
	position: absolute;
	top: 45%;
	right: 20%;
	width: 60%;
	padding: 25px;
	margin: auto;
	height: auto;
	color: aliceblue;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.boxes {
	font-family: mulish;
	font-size: 1.2rem;
	display: inline-block;
	width: 33%;
  vertical-align: top;
}

.vonal {
	background-color: black;
	width: 25%;
	height: 3px;
	margin: auto;
	margin-top: 2rem;
	display: none;
}

.vonal2 {
	background-color: #d2ba87;
	width: 35%;
	height: 3px;
	margin: auto;
	margin-top: 2rem;
  display: none;
}
}


